p{
    display: inline;
}
body{
    justify-content: center;
    align-items: center;
       text-align: center;
       height: 80vh;
       display: flex;
}
#box1{
border: 4px solid black;
font-size: 60px;
padding: 50px;

}
#box2{
border: 4px solid black;
font-size: 60px;
padding : 50px;
}
#box3{
border: 4px solid black;
font-size: 60px;
padding : 50px;
}
.back{
    background-color: black;
    color: chartreuse;
}