body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: #f5f5f5;
}

.clock {
  background-color: black;
  padding: 20px;
}

.time {
  display: flex;
  gap: 10px;
  color: chartreuse;
}

.box {
  border: 4px solid black;
  font-size: 60px;
  padding: 40px;
  min-width: 120px;
  text-align: center;
}
