body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.counter-app {
    text-align: center;
}

#counter {
    font-size: 60px;
    margin-bottom: 20px;
}

button {
    font-size: 40px;
    padding: 15px 32px;
    margin: 0 8px;
    background-color: gray;
    border: none;
    cursor: pointer;
}
