.m{

font-size: 14px;
padding: 20px 25px;
border-radius: 8px;
width: 300px;
text-align: center;
}

input, select, button {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            font-size: 16px;
        }

         body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }